{{#each data.fragments as |fragment|}}
  {{#each fragment as |fragmentField|}}
    {{#if (not-eq fragmentField.key 'uuid')}}
      <div class='cf-form-field'>
        <label>
          {{fragmentField.key}}
          {{input value=fragmentField.value class='cf-form-input'}}
        </label> 
      </div>
    {{/if}}
  {{/each}}
  <br />
  <button class='cf-btn-secondary' {{action 'removeFragment' fragment}}>Delete Fragment</button>
  <hr />
{{else}}
  No Fragments
  <br />
{{/each}}
<button class='cf-btn-primary' {{action 'addFragment'}}>+ Add Fragment</button>
