{{#if extension.data._schema}}
  {{#muuri-grid-component
    updateSort=(action 'updateSort')
    editingUUID=editingUUID
  }}
    {{#each extension.data.fragments as |fragment index|}}
      {{#with (get (find-by 'key' 'uuid' fragment) 'value') as |uuid|}}
        {{#muuri-item-component uuid=uuid isEditing=(eq editingUUID uuid)}}
          {{!-- card content --}}
          <div class='col-11 left pr1 overflow-hidden'>
            {{#each fragment as |fragmentField|}}
              {{#if (not-eq fragmentField.key 'uuid')}}
                <div class="cf-form-field cf-card-field--title">
                  {{#if (eq editingUUID uuid)}}
                    <label>
                      {{fragmentField.key}}
                      {{#if (eq fragmentField.type 'Symbol')}}
                        {{input value=fragmentField.value class='cf-form-input' key-up=(action 'save')}}
                      {{/if}}
                      {{#if (eq fragmentField.type 'Date')}}
                        {{pikaday-input
                          class='cf-form-input'
                          format="dddd, Do MMMM YYYY"
                          useUTC=true
                          value=fragmentField.value
                          onSelection=(action 'saveDate' fragmentField)
                          position='bottom left'
                          reposition=false
                        }}
                      {{/if}}
                      {{#if (eq fragmentField.type 'Blob')}}
                        {{#file-upload
                          name=fragmentField.key
                          onfileadd=(action 'saveBlob' fragmentField) as |queue|
                        }}
                          <a class="button">
                            {{#if queue.files.length}}
                              Uploading...
                            {{else}}
                              {{if fragmentField.value 'Replace File' 'Upload File'}}
                            {{/if}}
                          </a>
                        {{/file-upload}}
                        {{#if fragmentField.value}}
                        <div class="blob-preview cf-card my1">
                          <div class="cf-card-inner flex items-center">
                            {{#if (is-image-type fragmentField.value.type)}}
                              <img src="{{fragmentField.value.data}}" />
                            {{else}}
                              <div class="blob-no-preview flex items-center p1">
                                <p class="cf-card-status">No Preview Available</p>
                              </div>
                            {{/if}}
                            <div class="blob-meta ml1">
                              <p>File Name: {{fragmentField.value.name}}</p>
                              <p>File Size: {{fragmentField.value.size}}</p>
                              <p>File Type: {{fragmentField.value.type}}</p>
                            </div>
                          </div>
                        </div>
                        {{/if}}
                      {{/if}}
                    </label>
                  {{else}}
                    {{#if (eq fragmentField.type 'Symbol')}}
                      <p class='cf-card-field'>
                        {{fragmentField.key}}
                      </p>
                      <p class='cf-card-field--content {{if fragmentField.value '' 'my3'}}'>
                        {{fragmentField.value}}
                      </p>
                    {{/if}}

                    {{#if (eq fragmentField.type 'Date')}}
                      <p class='cf-card-field'>
                        {{fragmentField.key}}
                      </p>
                      <p class='cf-card-field--content {{if fragmentField.value '' 'my3'}}'>
                        {{if fragmentField.value (moment-format (utc fragmentField.value) 'dddd, Do MMMM YYYY')}}
                      </p>
                    {{/if}}

                    {{#if (eq fragmentField.type 'Blob')}}
                      <p class='cf-card-field'>
                        {{fragmentField.key}}
                      </p>
                      {{#if fragmentField.value}}
                        <div class="blob-preview cf-card mb1">
                          <div class="cf-card-inner flex items-center">
                            {{#if (is-image-type fragmentField.value.type)}}
                              <img src="{{fragmentField.value.data}}" />
                            {{else}}
                            <div class="blob-no-preview flex items-center p1">
                              <p class="cf-card-status">No Preview Available</p>
                            </div>
                            {{/if}}
                            <div class="blob-meta ml1">
                              <p>File Name: {{fragmentField.value.name}}</p>
                              <p>File Size: {{fragmentField.value.size}}</p>
                              <p>File Type: {{fragmentField.value.type}}</p>
                            </div>
                          </div>
                        </div>
                        {{else}}
                        <div class='my3'/>
                      {{/if}}
                    {{/if}}
                  {{/if}}
                </div>
              {{/if}}
            {{/each}}
            <a class="transition" {{action 'removeFragment' fragment}}>
              <div class="icon-wrapper">
                {{#cross-icon}}
                {{/cross-icon}}
              </div>
              Delete Entry
            </a>
          </div>

          {{!-- edit or cancel button --}}
          <div class="col-1 left pr1 right-align">
            {{#if (eq editingUUID uuid)}}
              <div class="icon-wrapper pointer" {{action 'cancelEditing'}}>
                {{#check-icon}}
                {{/check-icon}}
              </div>
            {{else}}
              <div class="icon-wrapper pointer" {{action 'editFragment' uuid}}>
                {{#pencil-icon}}
                {{/pencil-icon}}
              </div>
            {{/if}}
          </div>
        {{/muuri-item-component}}
      {{/with}}
    {{else}}
      <p class='mb3'>
        Hey! You haven't added any entries yet.
        <a {{action 'addFragment'}}>Add one now!</a>
      </p>
    {{/each}}
  {{/muuri-grid-component}}
  {{!-- Add / Edit buttons --}}
  <div class='clearfix pb2 flex {{if extension.data.fragments 'mt2' 'mt4'}}'>
    <a class="transition" {{action 'addFragment'}}>
      <div class='icon-wrapper'>
        {{#plus-icon}}
        {{/plus-icon}}
      </div>
      Add Entry
    </a>
    {{#unless extension.data._settings.usesPredefinedSchema}}
      {{#link-to 'schema' class='ml2 transition'}}
        <div class='icon-wrapper'>
          {{#plus-icon}}
          {{/plus-icon}}
        </div>
        Edit Fragment
      {{/link-to}}
    {{/unless}}

    {{!-- JSON Preview --}}
    <div class="ml2">
      {{#if showPreview}}
        <a class="transition" {{action 'hidePreview' }}>
          <div class='icon-wrapper'>
            {{#cross-icon}}
            {{/cross-icon}}
          </div>
          Hide JSON Preview
        </a><br/>
      {{else}}
        <a class="transition" {{action 'showPreview' }}>
          <div class='icon-wrapper'>
            {{#plus-icon}}
            {{/plus-icon}}
          </div>
          Show JSON Preview
        </a>
      {{/if}}
    </div>
  </div>
  {{#if showPreview}}
    <textarea class="json-preview mt2 p2" value={{extension.preview}} disabled="true" />
  {{/if}}
{{else}}
  {{!-- Fragment is not yet set up --}}
  <p>
    Please define your Fragment before adding content. You can do this in the UI below, or with a
    <a href="https://github.com/sanctuarycomputer/contentful-fragment" target="_blank">predefined schema.</a>
  </p>
  {{#link-to 'schema' class="transition"}}
    <div class='icon-wrapper'>
      {{#plus-icon}}
      {{/plus-icon}}
    </div>
    Setup Fragment
  {{/link-to}}
{{/if}}