{{#if model._schema}}
  {{#each model.fragments as |fragment|}}
    <div class='cf-card mb1'>
      <div class='cf-card-inner'>
        <div class='clearfix'>

            {{#with (get (find-by 'key' 'uuid' fragment) 'value') as |uuid|}}
              {{#if (eq editingUUID uuid)}}
                <div class='col-11 left pr1'>
                  {{#each fragment as |fragmentField|}}
                    {{#if (not-eq fragmentField.key 'uuid')}}
                      <div class='cf-form-field'>
                        <label>
                          {{fragmentField.key}}
                          {{input value=fragmentField.value class='cf-form-input' key-up="save"}}
                        </label> 
                      </div>
                    {{/if}}
                  {{/each}}
                  <a {{action 'removeFragment' fragment}}>
                    <div class='icon-wrapper'>
                      <svg class='icon-small' width="12" height="12" viewBox="-1 -1 16 16" xmlns="http://www.w3.org/2000/svg">
                        <g fill="currentColor">
                          <path d="M4.846 7l-3.77-3.77L0 2.155 2.154 0 3.23 1.077 7 4.847l3.77-3.77L11.845 0 14 2.154 12.923 3.23 9.153 7l3.77 3.77L14 11.845 11.846 14l-1.077-1.077L7 9.153l-3.77 3.77L2.155 14 0 11.846l1.077-1.077z">
                          </path>
                        </g>
                      </svg>
                    </div>
                    Delete Entry
                  </a>
                </div>
                <div class='col-1 left pr1 right-align'>
                  <div class='icon-wrapper' {{action 'cancelEditing'}}>
                    <svg class='icon-small' width="14" height="14" viewBox="-1 -1 16 16" xmlns="http://www.w3.org/2000/svg">
                      <g fill="currentColor">
                        <path d="M4.846 7l-3.77-3.77L0 2.155 2.154 0 3.23 1.077 7 4.847l3.77-3.77L11.845 0 14 2.154 12.923 3.23 9.153 7l3.77 3.77L14 11.845 11.846 14l-1.077-1.077L7 9.153l-3.77 3.77L2.155 14 0 11.846l1.077-1.077z">
                        </path>
                      </g>
                    </svg>
                  </div>
                </div>
              {{else}}
                <div class='col-11 left pr1'>
                  {{#each fragment as |fragmentField|}}
                    {{#if (not-eq fragmentField.key 'uuid')}}
                      <p class='my1'>{{fragmentField.key}}: {{fragmentField.value}}</p>
                    {{/if}}
                  {{/each}}
                </div>
                <div class='col-1 left pr1 right-align'>
                  <div class='icon-wrapper' {{action 'editFragment' uuid}}>
                    <svg width="17" height="16" viewBox="-1 -1 19 18" xmlns="http://www.w3.org/2000/svg">
                      <g fill="currentColor">
                        <path d="M9.702 2.567L.964 11.306 0 16l4.776-.882 8.739-8.738-3.813-3.813zm-7.754 9.715l7.76-7.759.48.48-7.76 7.76-.48-.48zm1.841 1.853l-.48-.48 7.76-7.76.48.48-7.76 7.76zM14.37 5.526l-3.814-3.813L12.27 0l3.813 3.813z">
                        </path>
                      </g>
                    </svg>
                  </div>
                </div>
              {{/if}}
            {{/with}}

        </div>
      </div>
    </div>
  {{else}}
    <p class='mb3'>Hey! You haven't added any entries yet. <a {{action 'addFragment'}}>Add one now!</a></p>
  {{/each}}

  <div class='clearfix mt2'>
    <a {{action 'addFragment'}}>
      <div class='icon-wrapper'>
        <svg class='icon-small' height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path><path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
      Add Entry
    </a>

    {{#link-to 'schema' class='ml2'}}
      <div class='icon-wrapper'>
        <svg class='icon-small' height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path><path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
      Edit Fragment
    {{/link-to}}
  </div>
{{else}}
  <p>Please define your Fragment before adding content.</p>
  {{#link-to 'schema'}}
    <div class='icon-wrapper'>
      <svg class='icon-small' height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path><path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    Setup Fragment
  {{/link-to}}
{{/if}}

