<h2>Fragments</h2>

{{#if model._schema}}
  {{#each model.fragments as |fragment|}}
    {{#each fragment as |fragmentField|}}
      {{#if (not-eq fragmentField.key 'uuid')}}
        <div class='cf-form-field'>
          <label>
            {{fragmentField.key}}
            {{input value=fragmentField.value class='cf-form-input' change="save"}}
          </label> 
        </div>
      {{/if}}
    {{/each}}
    <button class='cf-btn-secondary' {{action 'removeFragment' fragment}}>Delete Fragment</button>
    <hr />
  {{else}}
    You haven't made any fragments, yet!
    <br />
    <br />
  {{/each}}
  <button class='cf-btn-primary' {{action 'addFragment'}}>+ Add Fragment</button>
  {{#link-to 'schema'}}
    <button class='cf-btn-primary'>Edit Fragment Blueprint</button>
  {{/link-to}}
  <hr />
  <button class='cf-btn-primary' {{action 'save'}}>Save</button>
{{else}}
  <p>Please setup your Fragment Blueprint before adding content.</p>
  {{#link-to 'schema'}}
    <button class='cf-btn-primary'>Setup Fragment Blueprint</button>
  {{/link-to}}
{{/if}}

